.button {
  background: transparent;
  border: 1px solid rgb(103, 103, 245);
  border-right: none;
  font-size: 15px;
  color: rgb(103, 103, 245);
  cursor: pointer;
  min-width: 80px;
  min-height: 40px;
  outline: none;
  position: relative;
}

.active {
  composes: button;
  color: #fff;
  background: rgb(107, 107, 212);
}

.button:nth-child(2) {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button:last-child {
  border-right: 1px solid rgb(103, 103, 245);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.button:hover {
  color: #fff;
  background: rgb(107, 107, 212);
}

/* PRELOADER */
.ldsDualRing {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.ldsDualRing:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #6b6bd4;
  border-color: #6b6bd4 transparent #6b6bd4 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.active .ldsDualRing:after {
  border-color: #fff transparent #fff transparent;
}

.del {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 1px;
  right: 1px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
.del img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.del_none {
  display: none;
}

.del:hover {
  background-color: red;
}

/* MEDIA */

@media (max-width: 590px) {
  .button {
    font-size: 14px;
    min-width: 50px;
    min-height: 30px;
    padding: 5px;
  }
}
