.container {
  padding-top: 8px;
  position: absolute;
  top: 20px;
  right: 50px;
  min-width: 250px;
  border: 1px solid rgb(103, 103, 245);
  border-radius: 6px;
  color: #fff;
  background: rgb(107, 107, 212);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.city,
.byPosition {
  text-align: center;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 70px;
  height: 70px;
}

.temperature {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

@media (max-width: 590px) {
  .container {
    top: 10px;
    min-width: 210px;
  }
  .city {
    font-size: 18px;
  }

  .byPosition {
    font-size: 12px;
  }

  .container img {
    width: 50px;
    height: 50px;
  }

  .temperature {
    font-size: 14px;
  }
}

@media (max-width: 440px) {
  .container {
    right: 12px;
  }
}

@media (max-width: 390px) {
  .container {
    right: 12px;
    min-width: 200px;
  }

  .city {
    font-size: 18px;
  }

  .byPosition {
    font-size: 10px;
  }

  .container img {
    width: 50px;
    height: 50px;
  }
  .temperature {
    font-size: 14px;
  }
}

@media (max-width: 370px) {
  .container {
    min-width: 130px;
  }

  .city {
    font-size: 14px;
  }

  .byPosition {
    font-size: 10px;
  }

  .container img {
    width: 40px;
    height: 40px;
  }
  .temperature {
    font-size: 12px;
  }
}
