.list {
  list-style: none;
  margin-bottom: 50px;
}

.element {
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  color: rgb(46, 46, 46);
  border-top: 1px solid rgb(223, 220, 220);
  padding-left: 10px;
}

.elementName {
  display: inline-block;
  width: 50%;
  font-weight: 700;
}

.cityName {
  composes: element;
  font-weight: 700;
  background-color: rgb(243, 243, 243);
}

@media (max-width: 590px) {
  .element {
    padding-left: 30px;
  }
  .elementName {
    width: 80%;
  }
}

@media (max-width: 440px) {
  .element {
    padding-left: 10px;
  }

  .elementName {
    width: 73%;
  }
}
